## Initial Functions
This is to practice Pandas comprehensively.

So lets say that we've created a sample DF below. We can start exploring this.

In [1]:
import pandas as pd

# create your own df and name the columns 'A', 'B', 'C'
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]], 
                    columns=["A", "B", "C"],
                    index=["X", "Y", "Z", "W"])

Here, we'll use the df.head() to see the first five rows or 3 rows in this case.<br>
You can *also* look at the first row by doing: **df.head(#)** # of the row you would like to specifically view<br>
You can *also* look at the bottom two by doing **df.tail(#)**<br>

**Here as some other ones**<br>
df.info() - this allows us to see information about the metadata of the df<br>
df.describe() - this will provide some initial statistics (mean, max, etc)<br>
df.unique() - this will allow us to find the unique values
df.shape() - gives us the shape of our dataframe (how many rows, how many columns)<br>
df.columns() - to see only the cols<br>
df.index() - to see the values of the index [0, 1, etc]<br>
df.index.tolist() - lists the values of the 0 index.<br>

In [2]:
# metadata or details about the df
df.info()

# int64 means that it uses 64 bits 
# int64 == 64 bits == 8 bytes

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, X to W
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [42]:
# describe the dataset
df.describe()

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [43]:
# to find unique values in the dataset
# df.nunique()

# but you could also do, can be useful in other examples
df["A"].unique()

array([ 1,  4,  7, 10])

In [44]:
# shape
df.shape

(4, 3)

In [45]:
# overall
df.head()

    A   B   C
X   1   2   3
Y   4   5   6
Z   7   8   9
W  10  11  12

In [14]:
# last 2 rows?
df.tail(2)

   A  B  C
Y  4  5  6
Z  7  8  9

In [16]:
# index
df.index

Index(['X', 'Y', 'Z'], dtype='object')

In [15]:
# list of the index?
df.index.tolist()

['X', 'Y', 'Z']